*{
    margin:0;
    padding: 0;
}
body{
    background-image: url(./grp_patfac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.office{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    margin-left: 450px;
    padding: 60px;
    border-width: solid 2rem;
}
.entete{
    display: flex;
}
.entete img{
    width: 100px;
    height: 80px;
    border-radius: 10px;

}
.titre{
    width: 500px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}
.titre h1{
  text-align: center;
  font-size: 40px;
  color: rgb(164, 54, 54);
  padding-top: 20px;
}
.localites{
    padding-top: 100px;
    list-style: none;
    display: flex;
}
.localites span{
    color: brown;
    
}
footer{
    color: rgb(209, 201, 201);
    width: 620px;
    margin-left: 450px;
    height: 150px;
    background-color: rgb(53, 50, 50);
}
footer a{
    color: rgb(209, 201, 201);
    margin-left: 270px;
    padding-top: 30px;
    content: '';
    position: absolute;
   
}
footer h4{
    margin-left: 400px;
    padding-top: 83px;
    color: gray;
    font-size: 15px;
}
