*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 150px;
    background-color: rgb(241, 246, 246);
    
}
.bar_respond{
    display: flex;
}
.bar_respond img{
    width: 150px;
    height: 150px;
}
.bar_respond ul{
    display: flex;
    margin-left: 56%;
    padding-top: 10px;
    background-color: orange;
    height: 30px;

}
ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    
}
.title_bourse{
    width: 100%;
    height: 300px;
    background-image:url(./pyth_lunette.jpg);
}
.name_bourse{
    color: rgb(205, 210, 210);
    font-size: 40px;
    padding-top: 30px;
    margin-left: 100px;
}
.name_bourse span{
    color: bisque;
    margin-left: 150px;
}
.content{
    display: flex;
  
   
    
}
.content_video{
   width: 400px;
   height: 700px; 
   
    
}
.content_video h1{
    margin-left: 24px;
    padding-top: 70px;
    text-align: center;
}
.content_video img{
    margin-left: 40px;
    padding-top: 60px;
}
video{
    width: 400px;
  
}
.content_program{
    width: 600px;
    height: 100%;
    margin-left: 100px;
    padding-top: 50px;
   
}
    
.about_bourse{
   height: 500px;
   box-shadow: black;
    border-width: 10px;
   border: groove;
    background-color:whitesmoke;
}
.about_bourse H1{
    color: rgb(54, 54, 188);
    text-align: center;
    padding-top: 5px;
}.about_bourse p{
    margin-left: 10px;
}
.about_bourse li{
    color: rgb(74, 74, 167);
    margin-left: 10px;
}
.caracteristics{
    height: 300px;
    box-shadow: black;
     border-width: 10px;
    border: groove;
     background-color:whitesmoke;
}
.caracteristics ul li{
    padding-top: 20px;
}
.caracteristics span{
    color: red;
}
.how_apply{
    height: 800px;
    box-shadow: black;
     border-width: 10px;
    border: groove;
     background-color:whitesmoke;
}
.how_apply h1{
    color: rgb(54, 54, 188);
    text-align: center;
    padding-top: 5px;
   
}
.how_apply p{
    margin-left: 10px;
}
.how_apply h2{
    color: rgb(54, 54, 188);
    text-align: center;
    padding-top: 5px;
}
.apply_video{
    margin-left: 20px;
    padding-top: 48px;
}
.btn{
     width: 200px;
    height: 50px;
    background-color: rgb(216, 158, 49);
    border-radius: 10px;
    padding-top: 15px;
    margin-left: 80px;
    text-align: center;
    position: relative;
    content: '';
}
.btn:hover{
    background-color: bisque;
}
.btn a {
   
    
    text-decoration: none;
   
    
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Apply_here{
    text-align: center;
    display: flex;
   height: 80px;
   
}
.bourse_similaire{
    background-color: rgb(200, 200, 206);
    margin-left: 20px;
    width: 382px;
    height: 400px;
    text-align: center;
    box-sizing: 3px solid;

}
.bourse_similaire a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(47, 44, 41);
}
.button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    content: '';
}
.button:hover{
    background-color: rgb(186, 180, 180);
}
.annim_travail{
    margin-left: 20px;
    width: 382px;
    height: 400px;
    text-align: center;
   
}.annim_travail img{
    margin-left: 3px;
    width: 382px;
    height: 275px;
    text-align: center;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
}
.ran1 ul{
    margin-left: 120px;
    padding-top: 65px;
}
.ran1 ul li a{
    color: rgb(180, 191, 191);
    font-size: 20px;
    position: relative;
    content: '';
}
.ran1 ul li :hover{
color: antiquewhite;
}
