*{
    margin: 0;
    padding: 0;
}
body{
    b
    background-position: center;
    
}
.container{
    background-color: orange;
    opacity: 2px;
   height: 100%;
   background-position: center;
 
}